.section-1, .section-2{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    position: relative;
}
.section-1{
    background: url("./assets/img/bg_login.gif") no-repeat;
    background-size: 100vw;
}

.arrow-down{
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #f00;
    position: absolute;
    bottom: 40px;
    animation: arrow-down 2s infinite;
}

@keyframes arrow-down  {
    0%{
        bottom: 30px;
    }
    66%{
        bottom: 40px
    }
    100%{
        bottom: 30px
    }
}