$primary-color: #e5387e;
$primary-dark-color: #CB2B66;
$secondary-color: #666666;
$background-color-sidebar: #2f353a;
$background-color-sidebar-active: #3a4248;
$dark-color: #333333;
$dark-color-active: #434343;

$newUsers-color: #63c2de;
$activeUsers-color: #f86c6b;
$listCreated-color: #ffc107;
$taskCreated-color: #4dbd74;